<template>
    <div class="container-fluid carpet">

        <!-- The card played by my opponent -->
        <div class="row carpet-row">
            <div class="col d-flex justify-content-center">
                <card :id="`player-card-${playerInFront ? playerInFront.id : 0}`"
                      :card="otherPlayerDrewCard(playerInFront) ? playerInFront.card : ''"
                      class="card-game-played"
                      :class="{
                        'invisible': !otherPlayerDrewCard(playerInFront),
                        'card-game-trump': otherPlayerDrewCard(playerInFront) && playerInFront.card.suit.trump
                      }">
                </card>
            </div>
        </div>

        <div class="row my-5" :class="{'carpet-row': selectionRound, 'carpet-row-collapsed': !selectionRound}">

            <!-- Placeholder for the cards deck -->
            <div class="col" v-if="selectionRound">
                <slot></slot>
            </div>

            <!-- Trump card and remaining cards for this round -->
            <div class="col d-flex justify-content-end pomme-trump" v-if="$store.state.round.trump && $store.state.player.hand.length > 0">
                <card v-for="card in remainingCards"
                      :key="`FF${card.id}`"
                      class="card-game-face-down">
                </card>

                <card id="card-game-current-trump"
                      class="card-game-face-up"
                      :card="$store.state.round.trump"
                      :class="{
                        'card-game-selectable': canExchangeTrump && hasSixOfTrump,
                        'card-game-trump': $store.state.round.trump.suit.trump,
                        'card-game-disabled': !canExchangeTrump || !hasSixOfTrump
                      }"
                      @select="exchangeSixOfTrump()">
                </card>
            </div>
        </div>

        <!-- The card played by me -->
        <div class="row carpet-row">
            <div class="col d-flex justify-content-center ">
                <card :id="`player-card-${$store.state.player.id}`"
                      :card="$store.state.player.card"
                      class="card-game-played"
                      :class="{
                        'invisible': !$store.state.player.card,
                        'card-game-trump': $store.state.player.card && $store.state.player.card.suit.trump
                      }">
                </card>
            </div>
        </div>

    </div>
</template>

<script>
    import Card from "../Card";

    export default {
        components: {Card},

        methods: {

            /**
             * Exchange the six of trump with the current trump
             */
            exchangeSixOfTrump() {
                if (this.canExchangeTrump) {
                    this.$store.dispatch('drawSixOfTrump');
                    this.$store.dispatch('takeTrump');
                }
            },

            /**
             * Determine if another player drew a card
             *
             * @param otherPlayer
             * @returns {boolean}
             */
            otherPlayerDrewCard(otherPlayer) {
                return otherPlayer != null && otherPlayer.card != null;
            },
        },

        computed: {

            /**
             * Get the player in front
             *
             * @return {*}
             */
            playerInFront() {
                return this.$store.getters.opponent;
            },

            /**
             * Determine if we are in the current round
             *
             * @returns {boolean}
             */
            selectionRound() {
                return this.$store.getters.isSelectionRound;
            },

            /**
             * Specifically for the Pomme: build the list of remaining cards under the trump
             *
             * @returns {array}
             */
            remainingCards() {
                return Array.from(Array(11).keys()).map(key => {return {'id': key + 1}});
            },

            /**
             * Determine if the player can exchange the trump
             *
             * @returns {boolean}
             */
            canExchangeTrump() {
                return this.$store.state.round.tricks_count <= 1 &&
                    !this.$store.state.player.card && this.hasSixOfTrump;
            },

            /**
             * Specific to the Pomme: Does the player have the six of trump?
             *
             * @returns {boolean}
             */
            hasSixOfTrump() {
                return this.$store.getters.sixOfTrump !== undefined;
            }

        }
    }
</script>

<style>
    .pomme-trump .card-game {
        margin: 0 -61px;
    }
</style>