<template>
    <div>
        <div class="row d-flex justify-content-center">
            <card v-for="card in $store.state.player.hand"
                  :card="card"
                  :key="card.id"
                  :id="$store.getters.cardCssId($store.state.player.id, card.id)"
                  class="card-game-hand card-game-face-up"
                  :class="classes(card)"
                  @select="selectCard(card)">
            </card>
        </div>
    </div>
</template>

<script>
    import Card from "../Card";

    export default {
        components: {Card},

        methods: {

            /**
             * Select a card to discard
             *
             * @param card
             */
            selectCard(card) {
                if (!this.$store.getters.gotBackupCards) {
                    let index = this.$store.getters.discardedIndex(card);

                    if (index !== -1) {
                        this.$store.dispatch('rollbackDiscarded', index);
                    } else if (!this.discardedEnoughCards) {
                        this.$store.dispatch('discardCard', card);
                    }
                }
            },

            /**
             * Prepare CSS classes for a card in the hand
             *
             * @param card
             * @returns {*}
             */
            classes(card) {
                return {
                    'card-game-selectable': this.isDiscarding(card),
                    'card-game-selected': this.$store.getters.discardedIndex(card) !== -1 || this.isBackup(card),
                    'card-game-dismissible': !this.$store.getters.gotBackupCards,
                    'card-game-trump': card.suit.trump
                };
            },

            /**
             * Determine if a given card is within the backup cards
             *
             * @param card
             * @returns {boolean}
             */
            isBackup(card) {
                return this.$store.getters.gotBackupCards &&
                    this.$store.state.backup.find(backupCard => backupCard.id === card.id) !== undefined;
            },

            /**
             * Is discarding in progress?
             *
             * @param card
             * @returns {boolean}
             */
            isDiscarding(card) {
                return this.$store.getters.discardedIndex(card) !== -1 || !this.discardedEnoughCards;
            },

        },

        computed: {

            /**
             * Determine if enough cards were discarded
             *
             * @returns {boolean}
             */
            discardedEnoughCards() {
                return this.$store.getters.discardedEnoughCards;
            },

        },

    }
</script>

<style scoped>
    .card-game-dismissible {
        border: 1px dashed #ff5140;
        transition: all 0.4s;
    }

    .card-game-dismissible:hover {
        border: 1px solid #ff5140 !important;
    }
</style>
