<template>
    <div class="modal fade" id="round-results-modal" tabindex="-1" role="dialog" aria-labelledby="round-results-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="round-results-modal-label">
                        {{ wonOrLost }}
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <table class="table table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th>Player</th>

                                <th class="text-right">Points</th>

                                <th class="text-right">Melds</th>

                                <th class="text-right">Total</th>

                            </tr>
                        </thead>

                        <tbody>

                            <tr v-for="(score, index) in sortedScores"
                                :class="{
                                    'winner': index === 0,
                                    'table-success' : index === 0,
                                    'table-warning': index > 0
                                }"
                                :key="score.player_id">
                                <td>{{ playerName(score.player_id) }}</td>

                                <td class="text-right">{{ score.points }}</td>

                                <td class="text-right">{{ score.melds }}</td>

                                <td class="text-right">{{ score.total }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {

            /**
             * Get the player name based on their identifier
             *
             * @param playerId
             * @returns {string}
             */
            playerName(playerId) {
                if (playerId === this.$store.state.player.id)
                    return 'Me';

                return this.opponent ? this.opponent.pseudo : '';
            },

            /**
             * Get total points for a given player
             *
             * @param playerId
             * @returns {*}
             */
            total(playerId) {
                return this.$store.getters.total(this.previousRound.scores, playerId);
            },

        },

        computed: {

            /**
             * Determine the title if player won, lost or if there is a tie
             *
             * @returns {state.previous_round|{}}
             */
            sortedScores() {
                if (!this.previousRound || !this.previousRound.scores) return [];

                let scores = this.previousRound.scores.slice();

                return scores.sort((score1, score2) => score2.total - score1.total);
            },

            /**
             * Determine the title if player won, lost or if there is a tie
             *
             * @returns {string}
             */
            wonOrLost() {
                if (!this.opponent) return '';

                if (this.total(this.$store.state.player.id) > this.total(this.opponent.id))
                    return 'You won the round!';

                if (this.total(this.$store.state.player.id) < this.total(this.opponent.id))
                    return 'You lost the round...';

                return 'Incredible, it is a tie!';
            },

            /**
             * Get the current opponent
             *
             * @returns {Object}
             */
            opponent() {
                return this.$store.getters.opponent;
            },

            /**
             * Get the previous round
             *
             * @returns {state.previous_round|{}}
             */
            previousRound() {
                return this.$store.state.previous_round;
            }

        }
    }
</script>

<style>
    tr.winner {
        font-size: 1.2rem;
        font-weight: bold;
    }
</style>