<template>
    <div class="game-board position-absolute rounded px-4 py-3" v-if="$store.state.game.scores && $store.state.game.scores.length > 0">
        <h5>Game scores</h5>

        <p class="my-0">Me:</p>

        <div class="my-0 d-flex justify-content-between align-items-center">
            <p>
                <span class="round-won"
                      :key="index"
                      v-for="(value, index) in Array(CONSTANTS.ROUNDS_TO_WIN)"
                      :class="{'round-won-highlighted': index + 1 <= $store.getters.score($store.state.player.id).rounds_won}">I</span>
            </p>

            <p>
                <i class="fas fa-apple-alt ml-1 pommes-count"
                   :key="`player-${$store.state.player.id}-pomme-count-${index}`"
                   v-for="(value, index) in Array(CONSTANTS.POMMES_TO_LOSE)"
                   :class="{'pommes-count-highlighted': index + 1 <= $store.getters.score($store.state.player.id).pommes_count}"></i>
            </p>
        </div>

        <div class="my-0" v-if="$store.getters.opponent">
            <p class="my-0">{{ $store.getters.opponent.pseudo }}:</p>

            <div class="my-0 d-flex justify-content-between align-items-center">
                <p>
                    <span class="round-won"
                          :key="index"
                          v-for="(round, index) in Array(CONSTANTS.ROUNDS_TO_WIN)"
                          :class="{'round-won-highlighted': index + 1 <= $store.getters.score($store.getters.opponent.id).rounds_won}">I</span>
                </p>

                <p>
                    <i class="fas fa-apple-alt ml-1 pommes-count"
                       :key="`player-${$store.getters.opponent.id}-pomme-count-${index}`"
                       v-for="(pomme, index) in Array(CONSTANTS.POMMES_TO_LOSE)"
                       :class="{'pommes-count-highlighted': index + 1 <= $store.getters.score($store.getters.opponent.id).pommes_count}"></i>
                </p>
            </div>
        </div>

        <hr />

        <h5>
            Round #{{ $store.state.round ? $store.state.round.round : 0 }}
        </h5>

        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                    <th>Who</th>

                    <th>Pts</th>

                    <th>Melds</th>

                    <th>Tot</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Me</td>

                    <td class="text-right">
                        {{ $store.getters.points($store.state.round.scores, $store.state.player.id) }}
                    </td>

                    <td class="text-right">
                        <span :id="`melds-points-${$store.state.player.id}`"
                              :class="{'clickable': meldsPoints($store.state.player.id) > 0}"
                              @click="showMelds($store.state.player.id)">
                            {{ meldsPoints($store.state.player.id) }}
                        </span>
                    </td>

                    <td class="text-right">
                        {{ $store.getters.total($store.state.round.scores, $store.state.player.id) }}
                    </td>
                </tr>


                <tr>
                    <td>{{ $store.getters.opponent.pseudo }}</td>

                    <td class="text-right">
                        {{ $store.getters.points($store.state.round.scores, $store.getters.opponent.id) }}
                    </td>

                    <td class="text-right">
                        <span :id="`melds-points-${$store.getters.opponent.id}`"
                              :class="{'clickable': meldsPoints($store.getters.opponent.id) > 0}"
                              @click="showMelds($store.getters.opponent.id)">
                            {{ meldsPoints($store.getters.opponent.id) }}
                        </span>
                    </td>

                    <td class="text-right">
                        {{ $store.getters.total($store.state.round.scores, $store.getters.opponent.id) }}
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</template>

<script>
    import CONSTANTS from "../../store/constants";
    import player from "../../api/player";

    export default {
        data() {
            return {
                CONSTANTS: CONSTANTS
            }
        },

        methods: {

            /**
             * Show melds for a player
             *
             * @param playerId
             */
            showMelds(playerId) {
                if (this.meldsPoints(playerId) > 0) player.showMelds(playerId);
            },

            /**
             * Get melds points for a player
             *
             * @param playerId
             * @return {*}
             */
            meldsPoints(playerId) {
                if (this.$store.getters.isFirstTrick) return 0;

                return this.$store.getters.melds(this.$store.state.round.scores, playerId);
            }

        }
    }
</script>

<style scoped>
    .clickable {
        color: #3b9ce3;
        cursor: pointer;
        text-decoration: underline;
    }

    .clickable:hover {
        text-decoration: none;
    }
</style>