@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Mali');

$card-height: 150px;
$card-width: 120px;

.game-board {
  background-color: #4c4c4c;
  color: #fff;
  /*font-family: 'Mali', cursive;*/
  right: 10px;
  top: 10px;
  z-index: 10;
}

.game-board .round-won, .game-board .pommes-count {color: #696969;}
.game-board .round-won {font-size: 1.5rem;}
.game-board .pommes-count {font-size: 1.1rem;}
.game-board .round-won-highlighted, .game-board .pommes-count-highlighted {color: #fff;}

.carpet {
  background-color: #047a3d;
  padding: 20px;
  width: 600px;
}

.carpet-row {
  @extend .my-3;
  height: $card-height;
}

.carpet-row-collapsed {
  height: 0;
}

.cards-deck {
  height: $card-height;
}

.pomme-trump {
  margin-top: -($card-height / 2);
}

.card-game {
  border: 1px solid #bbb;
  height: $card-height;
  margin: 0 -40px;
  width: $card-width;
  z-index: 1;
}

.card-game-played {
  z-index: 2;
}

.card-game-small {
  height: $card-height / 2 !important;
  margin-left: -40px;
  width: $card-width / 2 !important;
}

.card-deck .card-game {
  @extend .position-absolute;
  margin: auto;
}

/** Positions for deck cards **/
@for $i from 0 through 35 {
  #card-deck-#{$i} {
    left: 0px + $i * 14;
  }
}

//.my-hand .card-game {
//  left: 50%;
//  position: absolute;
//  z-index: 2 !important;
//}

/** Positions for hand cards **/
$deg: -20; $transX: -120; $transY: -15;
@for $i from -4 through -1 {
  .player-hand-card-#{$i} {
    transform: rotate(#{$deg}deg) translate(#{$transX}px, #{$transY}px);
  }
  $deg: $deg + 5; $transX: $transX + 30; $transY: $transY + 5;
}
$deg: 5; $transX: 30; $transY: 0;
@for $i from 1 through 4 {
  .player-hand-card-#{$i} {
    transform: rotate(#{$deg}deg) translate(#{$transX}px, #{$transY}px);
  }
  $deg: $deg + 5; $transX: $transX + 30; $transY: $transY - 5;
}

.card-game-face-up.card-game-disabled {color: #ccc;}
.card-game-face-up.card-game-disabled .card-suit>img {opacity: 0.25;}

.card-game-face-down {
  background-color: #3495e3;
}

/*.card-game-trump {
  font-weight: bold;
}*/

.card-game-selectable {
  cursor: pointer;
}

.card-game-selected {
  border: 2px solid #000 !important;
}

.card-game-selected {
  margin-top: -15px !important;
}

.card-game-selectable:hover {
  border: 2px solid #1e1e1e;
}

.player-options {
  background: no-repeat center center;
  cursor: pointer;
  height: 120px;
  position: relative;
  width: 120px;
}

.take-backup {position: relative;}

.take-backup .action {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 40px;
  bottom: -10px;
  padding: 5px;
  position: absolute;
  transition: all 0.2s linear;
}
.take-backup .action.disabled {
  color: #a7a6a6;
  border-color: #a7a6a6;
}
.take-backup .confirm {left: 15px;}
.take-backup .cancel {right: 15px;}

.take-backup .action:hover:not(.disabled) {
  background-color: #cfe5ff;
  cursor: pointer;
}

.player-options {
  border: 1px solid #fff;
  border-radius: 120px;
  transition: border 0.4s linear;
}
.player-options:hover {border: 1px solid #9e9e9e;}
.player-options.selected {border: 1px solid #000;}

.backup-cards {background-image: url('/images/backup-icon.png');}
.has-melds {background-image: url('/images/melds-icon.png');}