<template>
    <div class="cards-deck" v-if="canShowDeck">
        <card v-for="card in $store.state.deck.cards"
              :key="card.pos"
              :id="`card-deck-${card.pos}`"
              class="card-game-face-down position-absolute"
              :class="classes(card)"
              @select="selectCard(card)">
        </card>
    </div>
</template>

<script>
    import Card from "./Card";

    export default {
        components: {Card},

        methods: {

            /**
             * Select a card
             *
             * @param card
             */
            selectCard(card) {
                if (this.isSelectable(card)) {
                    this.$store.dispatch('drawFromDeck', card.pos);
                }
            },

            /**
             * Prepare classes for a card in the deck
             *
             * @param card
             * @returns {*}
             */
            classes(card) {
                return {
                    'card-game-selectable': this.isSelectable(card),
                    'invisible': card.disabled && !card.animated
                }
            },

            /**
             * Determine if a card is selectable
             *
             * @returns {boolean}
             */
            isSelectable(card) {
                return !card.disabled && this.$store.getters.canPlay;
            },

        },

        computed: {

            /**
             * Determine if we are in the selection round
             *
             * @returns {boolean}
             */
            selectionRound() {
                return this.$store.getters.isSelectionRound;
            },

            /**
             * Determine if the game can start
             *
             * @returns {boolean}
             */
            canStart() {
                return this.$store.getters.canStart;
            },

            /**
             * Determine if the deck can be shown
             *
             * @returns {boolean}
             */
            canShowDeck() {
                return this.canStart && this.selectionRound;
            },
        },
    }
</script>

<style>
</style>