<template>
    <div class="card card-game shadow-sm" @click="$emit('select')">
        <div class="card-body">
            <div v-if="card">
                <p class="card-suit">
                    <img :src="`images/suits/${card.suit.name.toLowerCase()}-small.png`" alt="" />
                </p>

                <p class="card-rank">
                    {{ card.rank.symbol }}
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['card'],
    }
</script>

<style scoped>
    .card-game {
        font-size: 0.8rem;
    }

    .card-suit {
        margin: -15px 0 0 -15px;
        padding: 0;
    }

    .card-rank {
        font-size: 1.2em;
        margin: 0 0 0 -11px;
        padding: 0;
    }
</style>