<template>
    <div class="modal fade" :id="modalId" tabindex="-1" role="dialog" aria-labelledby="melds-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="melds-modal-label">
                        {{ header }}
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body melds">
                    <ul class="list-group list-group-flush melds-sequences" v-if="melds && melds.sequences">
                        <!-- Quartets -->
                        <li class="list-group-item d-flex" v-for="(meld, code) in melds" v-if="onlyQuartets(meld, code)">
                            <card v-for="card in quartet(code)"
                                  :card="card"
                                  :key="card.id"
                                  class="card-game card-game-face-up">
                            </card>

                            <span class="badge badge-pill badge-success shadow-sm melds-points position-absolute">
                                {{ title(code) }} - {{ meldPoints(code) }} points
                            </span>
                        </li>

                        <!-- Royal couple (if not within a sequence -->
                        <li class="list-group-item d-flex" v-if="melds['royal_couple'] && !sequenceWithRoyalCouple()">
                            <card v-for="card in royalCouple"
                                  :card="card"
                                  :key="card.id"
                                  class="card-game card-game-face-up card-game-trump">
                            </card>

                            <span class="badge badge-pill badge-success shadow-sm melds-points position-absolute">
                                {{ title('royal_couple') }} - {{ meldPoints('royal_couple') }} points
                            </span>
                        </li>

                        <!-- Sequences -->
                        <li class="list-group-item d-flex" v-for="sequence in melds.sequences">
                            <card v-for="card in sequence.sequence"
                                  :card="card"
                                  :key="card.id"
                                  :class="{'card-game-trump': card.suit.trump}"
                                  class="card-game card-game-face-up">
                            </card>

                            <span class="badge badge-pill badge-success shadow-sm melds-points position-absolute">
                                {{ title(sequence.code, sequence.sequence) }} - {{ sequencePoints(sequence) }} points
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Card from "./Card";
    import CONSTANTS from "../store/constants";

    export default {
        components: {Card},

        props: ['modalId', 'melds', 'animationStart'],

        methods: {
            /**
             * Get the meld title based on its code
             *
             * @param code
             * @param sequence
             * @returns {*}
             */
            title(code, sequence = null) {
                let title = this.melds.titles[code];

                // TODO: Manage translation (e.g. move the hardcoded string away from here)
                if (sequence != null && this._hasRoyalCouple(sequence))
                    title += ' and Stöck';

                return title;
            },


            /**
             * Get the points for a given meld code
             *
             * @param code
             * @returns {int}
             */
            meldPoints(code) {
                let meld_quartet = this._meld(code);

                if (! meld_quartet) return 0;

                return meld_quartet.points;
            },

            /**
             * Get the points for a given sequence
             *
             * @param sequence
             * @returns {int}
             */
            sequencePoints(sequence) {
                let points = sequence.points;

                if (this._hasRoyalCouple(sequence.sequence))
                    points += CONSTANTS.MELDS.filter(meld => meld.code === 'royal_couple').pop().points;

                return points;
            },

            /**
             * Get only quartet
             *
             * @param meld
             * @param index
             * @returns {boolean}
             */
            onlyQuartets(meld, index) {
                return meld && index.includes('four_');
            },

            /**
             * Get a quartet from the player hand
             *
             * @param code
             * @returns {*[]}
             */
            quartet(code) {
                let meld_quartet = this._meld(code);

                if (!meld_quartet) return [];

                let quartets = [];

                CONSTANTS.SUITS.forEach(suit => {
                    quartets.push(this._fakeCard(suit.code, suit.name, meld_quartet.rank))
                });

                return quartets;
            },

            /**
             * Determine if there is a sequence containing the royal couple
             *
             * @return {boolean}
             * @private
             */
            sequenceWithRoyalCouple() {
                return this.melds.sequences.some(sequence => this._hasRoyalCouple(sequence.sequence));
            },

            /**
             * Get a meld from constants list
             *
             * @param code
             * @returns {T}
             * @private
             */
            _meld(code) {
                return CONSTANTS.MELDS.filter(meld => meld.code === code).pop();
            },

            /**
             * Determine if a sequence contains the royal couple
             *
             * @param sequence
             * @return {boolean}
             * @private
             */
            _hasRoyalCouple(sequence) {
                if (!sequence[0].suit.trump) return false;

                return sequence.filter(card => card.rank.symbol === 'K' || card.rank.symbol === 'Q').length === 2;
            },

            /**
             * Generate a fake trump
             *
             * @param suitCode
             * @param suitName
             * @param rankSymbol
             * @param isTrump
             * @return {*}
             * @private
             */
            _fakeCard(suitCode, suitName, rankSymbol, isTrump = false) {
                return {
                    id: suitCode + rankSymbol,
                    suit: {name: suitName, trump: isTrump},
                    rank: {symbol: rankSymbol}
                };
            },
        },

        computed: {

            /**
             * Generate header based on the melds owner
             */
            header() {
                // TODO: Replace hard-written text by dynamic & translated ones
                if (this.melds.player_id === this.$store.state.player.id)
                    return 'You have melds!';

                return `${this.$store.getters.opponent.pseudo} has melds!`;
            },

            /**
             * Get the royal couple
             *
             * @returns {*[]}
             */
            royalCouple() {
                let trump = this.$store.state.round.trump;

                return [
                    this._fakeCard(trump.suit.code, trump.suit.name, 'Q', true),
                    this._fakeCard(trump.suit.code, trump.suit.name, 'K', true)
                ];
            },

            /**
             * Find the proper AnimateCSS classes based on the start position
             *
             * @returns {*}
             * @private
             */
            _animationClasses() {
                return {
                    'bottom' : { show: 'bounceInUp', hide: 'bounceOutDown' },
                    'top' : { show: 'bounceInDown', hide: 'bounceOutUp' },
                    'left' : { show: 'bounceInRight', hide: 'bounceOutLeft' },
                    'right' : { show: 'bounceInLeft', hide: 'bounceOutRight' },
                }[this.animationStart];
            }
        },

        mounted() {
            let $dialog = $(`#${this.modalId} .modal-dialog`);

            $(`#${this.modalId}`)
                .on('show.bs.modal', e => $dialog.attr('class', `modal-dialog modal-dialog-centered ${this._animationClasses.show} animated`))
                .on('hide.bs.modal', e => $dialog.attr('class', `modal-dialog modal-dialog-centered ${this._animationClasses.hide} animated`));
        }
    }
</script>

<style>
    .melds .card-game {
        margin: 0 -80px 0 0;
    }
    .melds-points {
        right: 10px;
        top: 10px;
        z-index: 1;
    }
</style>