<template>
    <div class="row d-flex justify-content-center">
        <div v-if="other_player">
            <h5 class="my-2">
                <i class="far fa-arrow-alt-circle-right"
                   v-if="otherTurn(other_player) && !other_player.card"></i> {{ other_player.pseudo }}
            </h5>

            <span :id="`hidden-pocket-${other_player.id}`"></span>

            <div class="container-fluid player-hand d-flex justify-content-center"
                 :id="`player-hand-${other_player.id}`"
                 v-if="!$store.getters.isSelectionRound">
                <card v-for="card in other_player.hand"
                      :key="card.id"
                      :id="$store.getters.cardCssId(other_player.id, card.id)"
                      class="card-game-small card-game-face-down">
                </card>
            </div>
        </div>

        <div v-else>
            <h5 class="my-2">Waiting for a player to join...</h5>
        </div>

        <melds-list :modal-id="`melds-modal-${other_player.id}`"
                    :melds="other_player.melds[0]"
                    animation-start="top"
                    v-if="canShowMelds()"></melds-list>
    </div>
</template>

<script>
    import Card from "./Card";
    import MeldsList from "./MeldsList";

    export default {
        components: {Card, MeldsList},

        props: ['other_player'],

        methods: {

            /**
             * Determine if a given player is next to play
             *
             * @param player
             * @returns {boolean}
             */
            otherTurn(player) {
                return player.id === this.$store.state.game.who_is_next;
            },

            /**
             * Determine if the melds can be shown
             *
             * @important must be in "methods", not in "computed" as melds cannot remain cached
             *
             * @returns {boolean}
             */
            canShowMelds() {
                return this.$store.getters.hasMelds(this.other_player);
            },

        },

    }
</script>

<style>
</style>
