<template>
    <div>
        <span :id="`hidden-pocket-${$store.state.player.id}`"></span>

        <div class="row d-flex justify-content-center">
            <h5 class="my-2">
                <i class="far fa-arrow-alt-circle-right" v-if="$store.getters.canPlay"></i> Me
            </h5>
        </div>

        <!-- This is my hand and backup cards -->
        <div class="d-flex" v-if="!$store.getters.isSelectionRound">

            <!-- Dummy column for display purpose during Pomme -->
            <div class="col" v-show="!$store.state.player.card">&nbsp;</div>

            <!-- Hand and related actions -->
            <div class="col player-hand my-hand" :id="`player-hand-${$store.state.player.id}`">

                <!-- My cards in hand -->
                <div :id="`player-hand-${$store.state.player.id}`"
                     class="row d-flex justify-content-center"
                     v-if="!discarding">
                    <card v-for="(card, key) in $store.state.player.hand"
                          :card="card"
                          :key="card.id"
                          :id="$store.getters.cardCssId($store.state.player.id, card.id)"
                          class="card-game-hand card-game-face-up"
                          :class="classes(card)"
                          @select="selectCard(card)"
                          :style="`z-index: ${key + 1}`"
                    >
                    </card>
                </div>

                <player-hand-discarded v-if="discarding"></player-hand-discarded>

            </div>

            <!-- Player actions -->
            <div class="col" v-show="!$store.state.player.card">
                <div class="d-flex ml-3">

                    <button class="btn btn-sm btn-primary"
                            v-if="$store.getters.gotBackupCards"
                            @click="acknowledgeBackup()">Ok!</button>

                    <div class="take-backup" v-show="canShowBackup">
                        <div class="player-options backup-cards mr-2"
                             :class="{'selected': discarding}"
                             @click="discarding = !discarding">
                        </div>

                        <div class="actions" v-show="discarding">
                            <i class="fas fa-check action confirm"
                               :class="{'disabled' : !discardedEnoughCards}"
                               @click="takeBackup()">
                            </i>
                            <i class="fas fa-ban action cancel" @click="stopDiscarding()"></i>
                        </div>
                    </div>

                    <div class="player-options has-melds"
                         v-show="!roundStarted && canShowMelds"
                         @click="showMelds()">
                    </div>
                </div>
            </div>
        </div>

        <melds-list :modal-id="`melds-modal-${$store.state.player.id}`"
                    :melds="$store.state.player.melds[0]"
                    animation-start="bottom"
                    v-if="canShowMelds"></melds-list>
    </div>
</template>

<script>
    import player from "../api/player";
    import Card from "./Card";
    import MeldsList from "./MeldsList";
    import PlayerHandDiscarded from "./pomme/PlayerHandDiscarded";

    export default {
        components: {PlayerHandDiscarded, Card, MeldsList},

        data() {
            return {
                discarding: false
            }
        },

        methods: {

            /**
             * Select a card to play
             * [Specific for Pomme] => select a card to discard
             *
             * @param card
             */
            selectCard(card) {
                if (this.canDraw(card)) {
                    this.$store.dispatch('drawFromHand', card.id);
                }
            },

            /**
             * Take backup cards
             */
            takeBackup() {
                if (this.$store.getters.discardedEnoughCards) {
                    this.$store.dispatch('takeBackup');
                }
            },

            /**
             * Acknowledge the backup cards
             */
            acknowledgeBackup() {
                this.discarding = false;
                this.$store.dispatch('emptyDiscarded');
                this.$store.dispatch('emptyBackup');
            },

            /**
             * Prepare classes for a card in the hand
             *
             * @param card
             * @returns {*}
             */
            classes(card) {
                return {
                    'card-game-selectable': this.canDraw(card),
                    'card-game-disabled': !this.canDraw(card),
                    'card-game-trump': card.suit.trump
                };
            },

            /**
             * Show the list of melds
             */
            showMelds() {
                player.showMelds(this.$store.state.player.id);
            },

            /**
             * Is it possible to draw a card?
             *
             * @param card
             * @returns {boolean}
             */
            canDraw(card) {
                return this.$store.getters.canPlay &&
                    !this.$store.state.player.card &&
                    !this.$store.state.animation &&
                    this.$store.getters.canDrawCard(card, this.previousPlayerCard);
            },

            /**
             * Stop discarding of cards
             */
            stopDiscarding() {
                this.discarding = false;
                this.$store.dispatch('emptyDiscarded');
            }

        },

        computed: {

            /**
             * Find previous player's card
             *
             * @returns {null|*}
             */
            previousPlayerCard() {
                let previous_player = this.$store.state.game.other_players[0];

                if (!previous_player) return;

                return previous_player.card;
            },

            /**
             * Determine if the round started
             * 
             * @returns {boolean}
             */
            roundStarted() {
                return this.$store.state.round.tricks_count > 0;
            },

            /**
             * Determine if I won the trick
             *
             * @returns {boolean}
             */
            wonTrick() {
                return this.$store.state.trick.winner_id === this.$store.state.player.id
            },

            /**
             * Determine if the backup should be shown
             *
             * @returns {boolean}
             */
            canShowBackup() {
                return !this.roundStarted && !this.$store.state.player.discarded.length;
            },

            /**
             * Determine if the melds can be shown
             *
             * @returns {boolean}
             */
            canShowMelds() {
                return this.$store.getters.hasMelds(this.$store.state.player) && this.$store.state.player.hand.length;
            },

            /**
             * Determine if enough cards were discarded
             *
             * @returns {boolean}
             */
            discardedEnoughCards() {
                return this.$store.getters.discardedEnoughCards;
            },

        },

    }
</script>

<style>
</style>